
<span class="badge @Rounded() bg-@Color.Name bg-opacity-@ColorOpacity.Name @Class">
    @ChildContent
</span>
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public bool IsRounded { get; set; }
    [Parameter] public ColorOpacity ColorOpacity { get; set; } = ColorOpacity.Fifty;
    [Parameter] public Color Color { get; set; } = Color.Primary;

    private string Rounded()
    {
        if (IsRounded)
        {
            return "rounded-pill";
        }
        return string.Empty;
    }
}
