<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#@ID" aria-controls="offcanvasRight">Toggle right offcanvas</button>

<div class="offcanvas offcanvas-@Direction" tabindex="-1" id="@ID" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">@Title</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @BodyContent
    </div>
</div>

@code
{
    [Parameter] public RenderFragment? BodyContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? ID { get; set; }
    [Parameter] public Direction Direction { get; set; } = Direction.End;
}
