
<div class="row">
    <div class="col-4">
        <a href="#button">Buttons</a>
        <a href="#typography">Typography</a>
    </div>
    <div class="col-8">
        <section id="button">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>Buttons</h1>
                    </div>
                </div>
                <div class="col-lg-8">
                    <Button Color="Color.Primary" Title="Submit"></Button>
                    <Button Color="Color.Secondary" Title="Submit"></Button>
                    <Button Color="Color.Success" Title="Submit"></Button>
                    <Button Color="Color.Info" Title="Submit"></Button>
                    <Button Color="Color.Warning" Title="Submit"></Button>
                    <Button Color="Color.Danger" Title="Submit"></Button>
                    <Button Color="Color.Light" Title="Submit"></Button>
                    <Button Color="Color.Dark" Title="Submit"></Button>

                    <h3>Sizes</h3>
                    <Button Title="Submit" Size="Size.Large"></Button>
                    <Button Title="Submit"></Button>
                    <Button Title="Submit" Size="Size.Small"></Button>
                </div>
                <div class="col-lg-4">
                    <div class="d-grid gap-2">
                        <Button Title="Submit" Size="Size.Large"></Button>
                        <Button Title="Submit"></Button>
                        <Button Title="Submit" Size="Size.Small"> </Button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="btncheck1" checked="" autocomplete="off">
                        <label class="btn btn-primary" for="btncheck1">Checkbox 1</label>
                        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                        <label class="btn btn-primary" for="btncheck2">Checkbox 2</label>
                        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                        <label class="btn btn-primary" for="btncheck3">Checkbox 3</label>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked="">
                        <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked="">
                        <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked="">
                        <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <Button Color="Color.Secondary" Title="Left"></Button>
                        <Button Color="Color.Secondary" Title="Middle"></Button>
                        <Button Color="Color.Secondary" Title="Right"></Button>
                    </div>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <Button Color="Color.Secondary" Title="1"></Button>
                            <Button Color="Color.Secondary" Title="2"></Button>
                            <Button Color="Color.Secondary" Title="3"></Button>
                            <Button Color="Color.Secondary" Title="4"></Button>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Second group">
                            <Button Color="Color.Secondary" Title="5"></Button>
                            <Button Color="Color.Secondary" Title="6"></Button>
                            <Button Color="Color.Secondary" Title="7"></Button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <Button Color="Color.Secondary" Title="8"></Button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="typography">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 id="typography">Typography</h1>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bs-component">
                        <h1>Heading 1</h1>
                        <h2>Heading 2</h2>
                        <h3>Heading 3</h3>
                        <h4>Heading 4</h4>
                        <h5>Heading 5</h5>
                        <h6>Heading 6</h6>
                        <h3>
                            Heading
                            <small class="text-muted">with muted text</small>
                        </h3>
                        <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                        <button class="source-button btn btn-primary btn-xs" role="button" tabindex="0">&lt; &gt;</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bs-component">
                        <h2>Example body text</h2>
                        <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                        <p><small>This line of text is meant to be treated as fine print.</small></p>
                        <p>The following is <strong>rendered as bold text</strong>.</p>
                        <p>The following is <em>rendered as italicized text</em>.</p>
                        <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
                        <button class="source-button btn btn-primary btn-xs" role="button" tabindex="0">&lt; &gt;</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bs-component">
                        <h2>Emphasis classes</h2>
                        <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                        <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p class="text-secondary">Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                        <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                        <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                        <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                        <button class="source-button btn btn-primary btn-xs" role="button" tabindex="0">&lt; &gt;</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h2 id="type-blockquotes">Blockquotes</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="bs-component">
                        <figure>
                            <blockquote class="blockquote">
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>

                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption>
                        </figure>
                        <button class="source-button btn btn-primary btn-xs" role="button" tabindex="0">&lt; &gt;</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bs-component">
                        <figure class="text-center">
                            <blockquote class="blockquote">
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>

                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption>
                        </figure>
                        <button class="source-button btn btn-primary btn-xs" role="button" tabindex="0">&lt; &gt;</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bs-component">
                        <figure class="text-end">
                            <blockquote class="blockquote">
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>

                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption>
                        </figure>
                        <button class="source-button btn btn-primary btn-xs" role="button" tabindex="0">&lt; &gt;</button>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <th scope="row">Active</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">Primary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">Secondary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">Success</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Danger</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">Warning</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">Info</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">Light</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="table-dark">
                        <th scope="row">Dark</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>