<li class="breadcrumb-item @IsActive()" aria-current="@AriaCurrent" >
    <a href="@Link" class="text-decoration-none" @attributes="AdditionalAttributes">@LinkTitle</a>
    @ChildContent
</li>

@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Active { get; set; }
    [Parameter] public string? AriaCurrent { get; set; } = "page";
    [Parameter] public string? Link { get; set; } = "#";
    [Parameter] public string? LinkTitle { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    public string IsActive()
    {
        if (Active == true)
            return "active";
        return string.Empty;
    }
}
