<nav aria-label="breadcrumb" class="mb-4 @Class">
    <ol class="breadcrumb" @attributes="AdditionalAttributes">
        @ChildContent
    </ol>
</nav>
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
}
