 
<div class="progress @Class" role="progressbar" aria-label="Basic example" aria-valuenow="@ValueNow" aria-valuemin="@ValueMin" aria-valuemax="@ValueMax">
    @ChildContent
</div>
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    /// <summary>
    /// Css Class
    /// </summary>
    [Parameter] public string? Class { get; set; }
    /// <summary>
    /// Height of progress bar container
    /// </summary>
    [Parameter] public float? Height { get; set; } = 16;
    /// <summary>
    /// Current value
    /// </summary>
    [Parameter] public float ValueNow { get; set; } = 50;
    /// <summary>
    /// Maximum value
    /// </summary>
    [Parameter] public float ValueMin { get; set; } = 0;
    /// <summary>
    /// Maximum value
    /// </summary>
    [Parameter] public float ValueMax { get; set; } = 100;
}
