.rating {
    font-size: 1em;
    display: inline-block;
}

    .rating input {
        display: none;
        padding-right: 4px;
    }

    .rating label {
        transition: all 0.2s;
        display: inline-block;
        margin: 0;
        float: right;
        padding-right: 4px;
    }

    .rating > label:hover {
        font-size: 1em;
    }

    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label {
        color: #FFD700;
    }
        /* hover previous stars in list */

        .rating > input:checked + label:hover, /* hover current star when changing rating */
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        .rating > input:checked ~ label:hover ~ label {
            color: #FFED85;
        }
