.search-wrapper {
    position: relative;
}

    .search-wrapper i {
        position: absolute;
        top: 8px;
        left: 8px;
    }

    .search-wrapper input {
        padding-left: 32px;
        padding-right: 8px;
    }
