
<ul class="nav nav-@NavStyle() mb-3 @Class" role="tablist" @attributes="@AdditionalAttributes">
    @ChildContent
</ul>
<div class="tab-content" id="@TabContentID">
    @TabContent
</div>


@code {

    [Parameter] public string? Class { get; set; }
    [Parameter] public NavType NavType { get; set; } = NavType.Pill;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? TabContent { get; set; }
    [Parameter] public string TabContentID { get; set; } = "myTabContent";
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    string NavStyle()
    {
        if (NavType == NavType.Pill)
        {
            return "pills";
        }
        else if (NavType == NavType.Underline)
        {
            return "underline";
        }
        else
        {
            return "tabs";
        }
    }
}