@if (Visible)
{
    <div class="card mb-3 bg-@BackgroundColor.Name text-@TextColor.Name shadow-@Shadow.Name @Class">
        <div class="card-body">
            @ChildContent
        </div>
    </div>
}
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Visible { get; set; } = true;
    [Parameter] public Color BackgroundColor { get; set; } = Color.White;
    [Parameter] public Color TextColor { get; set; } = Color.Dark;
    [Parameter] public ShadowSize Shadow { get; set; } = ShadowSize.Large;
    [Parameter] public string? Class { get; set; }
}
