<div class="wrapper">
    <nav id="sidebar" class="d-print-none sidebar">
        @LeftContent
    </nav>
    <main>
        @MainContent
    </main>
</div>

@code { 
    [Parameter] public RenderFragment LeftContent { get; set; }
    [Parameter] public RenderFragment MainContent { get; set; } 
}
