.main-wrapper {
    display: grid;
    grid-template-rows: minmax(4rem, auto) 1fr;
    min-block-size: 100dvh;
    overflow: hidden;
}

    .main-wrapper .header {
        padding: 1rem;
        border-bottom: 1px solid #cccccc;
    }

    .main-wrapper .main {
        padding: 1rem;
        min-height: 0;
        overflow: auto;
    }
