/*left navigation navleft*/

.leftmenu > .menu > .menu-item {
    color: var(--text);
    position: relative;
    padding: 4px 12px;
}

.leftmenu > .menu > .divider {
    height: 1px;
    margin: .25rem 0;
    overflow: hidden;
    background-color: #808080;
}

.leftmenu > .menu > .menu-item:hover .sub-menu,
.leftmenu > .menu > .menu-item:hover .no-menu {
    display: block;
}

.leftmenu > .menu > .menu-item ::deep .menu-link {
    color: var(--text);
    padding: 12px 12px;
    display: grid;
    place-items: center;
    border-radius: 8px;
    pointer-events: auto;
}

    .leftmenu > .menu > .menu-item ::deep .menu-link:hover {
        background-color: rgba(var(--bs-primary-rgb),.4);
    }


.leftmenu > .menu > .menu-item > a.nav-link > i {
    font-size: 24px;
    line-height: 24px;
}

.leftmenu > .menu > .menu-item ::deep > .nav-link.active {
    background-color: rgba(var(--bs-primary-rgb),.4);
    padding: 12px 12px;
    display: block;
    display: grid;
    place-items: center;
    color: var(--bs-primary);
}

.leftmenu > .menu > .menu-item > .sub-menu {
    background-color: var(--bs-body-bg);
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 100%;
    top: 0;
    border-radius: 0 8px 8px 0;
    display: none;
    transition: all .3s ease-in-out;
}

.leftmenu > .menu > .menu-item > .no-menu {
    background-color: var(--bs-body-bg);
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 100%;
    border-radius: 0 8px 8px 0;
    display: none;
    transition: all .3s ease-in-out;
}

    .leftmenu > .menu > .menu-item > .no-menu > li {
        text-align: left;
        color: var(--text);
        font-size: 14px;
        font-weight: 400;
        padding: 4px 8px;
    }

.leftmenu > ul > li > .no-menu {
    top: 50%;
    transform: translateY(-50%);
}

.leftmenu > .menu > .menu-item > .sub-menu > li:first-child {
    padding: 4px 8px;
    font-size: 14px;
    border-bottom: 1px solid #444444;
}

.leftmenu > .menu > .menu-item > .sub-menu > li:last-child > .nav-link.active {
    border-radius: 0 0 8px 0;
}
/*    

    .leftmenu > ul > li > ul > li > a.nav-link {
        text-align: left;
        color: white;
        font-size: 16px;
        padding: 4px 8px;
        opacity: .8;
        pointer-events: auto;
        white-space: nowrap;
    }

        .leftmenu > ul > li > ul > li > a.nav-link.active {
            background-color: #1861ac;
            opacity: 1;
        }

        .leftmenu > ul > li > ul > li > a.nav-link:hover {
            opacity: 1;
        }

    .leftmenu > ul > li > ul > li:last-child > a.nav-link:hover {
        border-radius: 0 0 8px 0;
    }
*/

/*bottom navigation navbottom*/
.mobile-menu > ul > li.nav-item {
    float: left
}

.mobile-menu > ul > li > a.nav-link {
    display: grid;
    place-items: center;
    height: 56px;
}

    .mobile-menu > ul > li > a.nav-link > i {
        font-size: 24px;
        color: var(--text);
    }

    .mobile-menu > ul > li > a.nav-link > span {
        font-size: 14px;
        color: var(--text);
        margin-top: 4px
    }

    .mobile-menu > ul > li > a.nav-link.active > i,
    .mobile-menu > ul > li > a.nav-link.active > span {
        color: var(--sidemenu);
    }


/*Dark Theme*/
html[data-bs-theme=dark] .leftmenu > .menu > .menu-item ::deep .menu-link:hover {
    background-color: rgba(var(--bs-secondary-rgb),.6);
}

html[data-bs-theme=dark] .leftmenu > .menu > .menu-item ::deep > .nav-link.active {
    background-color: rgba(var(--bs-secondary-rgb),.4);
    color: var(--text);
}

html[data-bs-theme=dark] .mobile-menu > ul > li > a.nav-link.active > i {
    color: var(--text);
}
