.leftmenu {
    height: calc(100vh );
    position: fixed;
    left: 0px;
    width: 80px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*top: 64px;*/
    /*-webkit-animation: slide 0.5s forwards;
    animation: slide-right 0.5s forwards;*/
}

    .leftmenu > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

        .leftmenu > ul > li.logo {
            background-color: var(--bs-body-bg);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 64px;
            width: 100%;
            border-bottom: 1px solid #808080;
        }


@-webkit-keyframes slide-right {
    100% {
        left: 0;
    }
}

@keyframes slide-right {
    100% {
        left: 0;
    }
}
