<div class="d-flex align-items-center gap-2">
    <div class="align-self-start flex-shrink-0 d-flex align-items-center justify-content-center rounded-circle text-white" style="background-color:@BackgroundColor; width:@Size; height:@Size; font-size:calc(@Size / 2)">
        @if (string.IsNullOrEmpty(Image))
        {
            @Title[..1]
        }
        else
        {
            <img width="@Size" src="@(Path+Image)" alt="@Image" />
        }
    </div>
    @if (ShowTitle == true)
    {
        <div>
            @Title
        </div>
    }
</div>
@code {
    [Parameter] public string? BackgroundColor { get; set; } = "#0066cc";
    [Parameter] public string? Image { get; set; }
    [Parameter] public string? Path { get; set; } = "/upload/images/";
    [Parameter] public string? Size { get; set; } = "32px";
    [Parameter] public string? Title { get; set; }
    [Parameter] public bool ShowTitle { get; set; } = true;
}
