:root {
    --h: 0deg;
    --m: 0deg;
}

.clock-wrapper {
    position: relative;
    width: 20rem;
    height: 20rem;
    border: 1px solid var(--bs-secondary-subtle);
    border-radius: 100%;
    background-color: lightgray;
    font-family: roboto,sans-serif;
}

    .clock-wrapper::before {
        content: '';
        position: absolute;
        top: calc(50% );
        left: 50%;
        width: 35%;
        height: .25rem;
        background-color: var(--bs-primary);
        animation: animate 4s linear infinite;
        transform: rotate(var(--m));
        transform-origin: left;
    }

/*   .clock-wrapper::after {
        content: '';
        position: absolute;
        top: calc(50% - 3px);
        left: 50%;
        width: 35%;
        height: 6px;
        background-color: var(--bs-secondary);
        transform-origin: left;
        animation: animate 48s linear infinite;
        transform: rotate(var(--h));
    }*/

.center {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    background-color: var(--bs-primary);
    border-radius: 100%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.clock {
    display: grid;
    place-items: center;
    /*border: 1px solid blue;*/
    width: 100%;
    height: 100%;
}

    .clock .number {
        position: absolute;
        width: fit-content;
        height: 100%;
        text-align: center;
        /*border: 1px solid red;*/
        pointer-events: none;
        font-size: 1.25rem;
        font-weight: bolder;
        --step: 30deg;
        transform: rotate(calc(var(--i) * var(--step)));
    }

        .clock .number.number-24 {
            font-size: 1rem;
            padding-top: 3rem;
        }

.number span {
    width: 3rem;
    height: 3rem;
    display: inline-grid;
    place-items: center;
    /*border: 1px solid yellow;*/
    pointer-events: auto;
    cursor: pointer;
    transform: rotate(calc(var(--i) * var(--step) * -1));
}


    .number span.active {
        background-color: var(--bs-primary);
        border-radius: 100%;
    }

/*.number:nth-child(1) {
    transform: rotate(30deg);
}

    .number:nth-child(1) span {
        transform: rotate(-30deg);
    }

.number:nth-child(2) {
    transform: rotate(60deg);
}

    .number:nth-child(2) span {
        transform: rotate(-60deg);
    }

.number:nth-child(3) {
    transform: rotate(90deg);
}

    .number:nth-child(3) span {
        transform: rotate(-90deg);
    }

.number:nth-child(4) {
    transform: rotate(120deg);
}

    .number:nth-child(4) span {
        transform: rotate(-120deg);
    }

.number:nth-child(5) {
    transform: rotate(150deg);
}

    .number:nth-child(5) span {
        transform: rotate(-150deg);
    }

.number:nth-child(6) {
    transform: rotate(180deg);
}

    .number:nth-child(6) span {
        transform: rotate(-180deg);
    }

.number:nth-child(7) {
    transform: rotate(210deg);
}

    .number:nth-child(7) span {
        transform: rotate(-210deg);
    }

.number:nth-child(8) {
    transform: rotate(240deg);
}

    .number:nth-child(8) span {
        transform: rotate(-240deg);
    }

.number:nth-child(9) {
    transform: rotate(270deg);
}

    .number:nth-child(9) span {
        transform: rotate(-270deg);
    }

.number:nth-child(10) {
    transform: rotate(300deg);
}

    .number:nth-child(10) span {
        transform: rotate(-300deg);
    }

.number:nth-child(11) {
    transform: rotate(330deg);
}

    .number:nth-child(11) span {
        transform: rotate(-330deg);
    }

.number:nth-child(12) {
    transform: rotate(360deg);
}

    .number:nth-child(12) span {
        transform: rotate(-360deg);
    }
*/
/* index mapping */
.number:nth-child(1) {
    --i: 1;
}

.number:nth-child(2) {
    --i: 2;
}

.number:nth-child(3) {
    --i: 3;
}

.number:nth-child(4) {
    --i: 4;
}

.number:nth-child(5) {
    --i: 5;
}

.number:nth-child(6) {
    --i: 6;
}

.number:nth-child(7) {
    --i: 7;
}

.number:nth-child(8) {
    --i: 8;
}

.number:nth-child(9) {
    --i: 9;
}

.number:nth-child(10) {
    --i: 10;
}

.number:nth-child(11) {
    --i: 11;
}

.number:nth-child(12) {
    --i: 12;
}

.number:nth-child(13) {
    --i: 13;
}

.number:nth-child(14) {
    --i: 14;
}

.number:nth-child(15) {
    --i: 15;
}

.number:nth-child(16) {
    --i: 16;
}

.number:nth-child(17) {
    --i: 17;
}

.number:nth-child(18) {
    --i: 18;
}

.number:nth-child(19) {
    --i: 19;
}

.number:nth-child(20) {
    --i: 20;
}

.number:nth-child(21) {
    --i: 21;
}

.number:nth-child(22) {
    --i: 22;
}

.number:nth-child(23) {
    --i: 23;
}

.number:nth-child(24) {
    --i: 24;
}
