<td class="@TextAlign.Name @Class" @attributes="AdditionalAttributes">
    @ChildContent
</td>

    @code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public TextAlign TextAlign { get; set; } = TextAlign.Start;
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }
    }
